<!--<ion-content class="left-handed">-->
<ion-content>
  <button class="toggle-button" menuToggle>
    <img src="assets/imgs/button_setting.svg">
  </button>

  <div class="gallery">
    <div class="full-card"
         [ngClass]="{selectedFull: dataShare.currentLetter.id}"
         (click)="gotoLetterDetailsPage()">
      <img src="{{'assets/imgs/' + dataShare.currentLetter.id + '.svg'}}">
      <div class="more-button">
        <img src="assets/imgs/button_find.svg">
      </div>
    </div>


    <div class="preview-set">
      <div class="preloader" *ngIf="!showLettersSet"></div>
      <div class="preview-set__img" *ngFor="let preview of dataShare.abcSet"
           (click)="setCurrentLetter($event)"
           [ngClass]="{selected: preview.id == dataShare.currentLetter.id}">
        <img src="{{'assets/imgs/' + preview.id + '.svg'}}" alt="{{preview.id}}" title="{{preview.name}}">
      </div>
    </div>
  </div>


</ion-content>
